<app-menu></app-menu>
<mat-form-field class="example-full-width">
  <input type="number" #id matInput placeholder="Código">
  <mat-hint *ngIf="!existeId">El código ingresado no existe.</mat-hint>
</mat-form-field>
<button mat-raised-button (click)="verificaId(id.value)" color="primary">Buscar</button>
<button mat-raised-button [disabled]="eliminar" (click)="openDialog()" color="warn">Eliminar</button>
<div [formGroup]="ProductoForm" layout="row" layout-align="center center">
  <div *ngIf="false">
  <mat-form-field class="example-full-width">
    <input formControlName="Id" type="number" matInput placeholder="Código">
  </mat-form-field>
</div>
<div>
    <mat-form-field class="example-full-width">
        <input formControlName="Descripcion" type="text" matInput placeholder="Descripción">
      </mat-form-field>
</div>
<div>
    <mat-form-field class="example-full-width">
        <input formControlName="Existencias" type="number" matInput placeholder="Existencias">
      </mat-form-field>
</div>
<div>
    <mat-form-field class="example-full-width">
        <input formControlName="PrecioCompra" type="number" matInput placeholder="Precio Compra">
      </mat-form-field>
</div>
<div>
    <mat-form-field class="example-full-width">
        <input formControlName="PrecioVenta" type="number" matInput placeholder="Precio Venta">
      </mat-form-field>
</div>
<div>
    <mat-form-field class="example-full-width">
        <input formControlName="Marca" type="text" matInput placeholder="Marca">
    </mat-form-field>
</div>
<div>
    <mat-form-field class="example-full-width">
        <input formControlName="Proveedor" type="text" matInput placeholder="Proveedor">
      </mat-form-field>
</div>
<div>
    <mat-form-field>
        <input matInput  formControlName="Fecha" [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
</div>
</div>
