<mat-toolbar color="primary">
  <span>Bienvenido</span>
</mat-toolbar>
  <div [formGroup]="UsuarioForm" layout="row" layout-align="center center">
    <div>
    <mat-form-field class="example-full-width">
      <input formControlName="usuario" matInput placeholder="Usuario">
    </mat-form-field>
  </div>
  <div>
      <mat-form-field class="example-full-width">
          <input formControlName="password" matInput placeholder="Password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
  </div>
  <div>
    <button mat-raised-button (click)="login()" color="primary">Iniciar Sesión</button>
  </div>
  </div>


