<app-menu></app-menu>
<kendo-grid [data]="gridData" [pageSize]="state.take"
[skip]="state.skip"
[sort]="state.sort"
[filter]="state.filter"
[sortable]="false"
[pageable]="true"
[filterable]="false"  (dataStateChange)="dataStateChange($event)">
<ng-template kendoGridToolbarTemplate>
    <button type="button" kendoGridExcelCommand icon="file-excel">Exportar a Excel</button>
        <button kendoGridPDFCommand icon="file-pdf">Exportar a PDF</button>
</ng-template>
  <kendo-grid-column field="Id" title="Código" filter="numeric">
  </kendo-grid-column>
  <kendo-grid-column field="Descripcion" title="Descripción" >
  </kendo-grid-column>
  <kendo-grid-column field="Existencias" title="Existencias">
  </kendo-grid-column>
  <kendo-grid-column field="PrecioCompra" title="Precio de Compra">
  </kendo-grid-column>
  <kendo-grid-column field="PrecioVenta" title="Precio de Venta">
  </kendo-grid-column>
  <kendo-grid-column field="Marca" title="Marca">
  </kendo-grid-column>
  <kendo-grid-column field="Proveedor" title="Proveedor">
  </kendo-grid-column>
  <kendo-grid-column field="Fecha" title="Fecha de Alta">
  </kendo-grid-column>
  <kendo-grid-excel fileName="Productos.xlsx"></kendo-grid-excel>
  <kendo-grid-pdf fileName="Productos.pdf" [allPages]="true" paperSize="A4" [repeatHeaders]="true" [landscape]="true">
      <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
      <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
       <div class="page-template">
          <div class="header">
            <div style="float: right">Página {{ pageNum }} de {{ totalPages }}</div>
          </div>
          <div class="footer">
            Página {{ pageNum }} de {{ totalPages }}
          </div>
        </div>
      </ng-template>
  </kendo-grid-pdf>
</kendo-grid>

