<app-menu></app-menu>
<mat-grid-list cols="5" rowHeight="85px">
    <mat-grid-tile [colspan]="2"
    [rowspan]="1">
    <div>
        <mat-form-field>
            <input #fechainicio matInput [matDatepicker]="picker1" placeholder="Fecha Inicio">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
      </div>
    </mat-grid-tile>
  <mat-grid-tile [colspan]="3"
  [rowspan]="1">
    <div class="card">
      <mat-form-field class="example-full-width">
          <span matPrefix>$&nbsp;</span>
        <input #TotalEfectivo [disabled]="true" type="number" matInput placeholder="Total Venta Efectivo">
      </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <span matPrefix>$&nbsp;</span>
            <input #TotalTarjeta [disabled]="true" type="number" matInput placeholder="Total Venta Tarjeta">
          </mat-form-field>
      </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2"
  [rowspan]="1">
  <div>
      <mat-form-field>
          <input #fechafin matInput [matDatepicker]="picker2" placeholder="Fecha Fin">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </div>
</mat-grid-tile>
  <mat-grid-tile [colspan]="3"
  [rowspan]="1">
  <div>
      <mat-form-field class="example-full-width">
          <span matPrefix>$&nbsp;</span>
          <input #TotalVenta [disabled]="true" type="number" matInput placeholder="Total Venta">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <input #TotalArticulos  [disabled]="true" type="number" matInput placeholder="Total Artículos">
          </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2"
  [rowspan]="1">
  <div>
      <button mat-raised-button (click)="getData(fechainicio.value, fechafin.value)" color="primary">Buscar</button>
    </div>
</mat-grid-tile>
<mat-grid-tile [colspan]="2"
  [rowspan]="1">
  <button mat-raised-button (click)="pdf.saveAs('ReporteVenta.pdf')">
      Guardar como PDF.
    </button>
</mat-grid-tile>
</mat-grid-list>

<kendo-pdf-export #pdf paperSize="A4" margin="2cm">
<kendo-grid [data]="gridData" [pageSize]="state.take"
[skip]="state.skip"
[sort]="state.sort"
[filter]="state.filter"
[sortable]="false"
[pageable]="false"
[filterable]="false" [height]="410">

  <kendo-grid-column field="Id" title="Código" filter="numeric">
  </kendo-grid-column>
  <kendo-grid-column field="Fecha" title="Fecha" format='{0:dd/MM/yyyy HH:mm:ss}' >
  </kendo-grid-column>
  <kendo-grid-column field="Pago" title="Tipo de Pago">
      <ng-template kendoGridCellTemplate let-dataItem>
          {{dataItem.Pago.TipoPago}}
          <div *ngIf="dataItem.Pago.Referencia">
            Referencia: {{dataItem.Pago.Referencia}}
          </div>
      </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="TotArt" title="Número de Artículos">
  <ng-template
        kendoGridFooterTemplate
            let-column="column">Artículos Vendidos: {{totalArt}}</ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="TotVta" title="Total Venta" format="{0:c}" [style]="rightAlign" [footerStyle]="rightAlign">
      <!-- <ng-template kendoGridFooterTemplate let-column="column">
          {{ totals[column.field].sum }}
        </ng-template> -->
    <ng-template
        kendoGridFooterTemplate
            let-column="column" format="{0:c}">Venta Total: {{totalVta | currency}}</ng-template>
  </kendo-grid-column>
  <div *kendoGridDetailTemplate="let dataItem">
    <kendo-grid
    [data]="dataItem.Productos"
    [pageSize]="50"
    [skip]="0"
    [pageable]="false"
    [scrollable]="'none'"
    (pageChange)="pageChange($event)"
  >
<kendo-grid-column field="Id" title="Código" >
</kendo-grid-column>
<kendo-grid-column field="Descripcion" title="Descripción">
</kendo-grid-column>
<kendo-grid-column field="Cantidad" title="Cantidad">
</kendo-grid-column>
<kendo-grid-column field="PrecioVenta" title="Precio Venta" format="{0:c}">
</kendo-grid-column>
<kendo-grid-column field="Total" title="Total" format="{0:c}">
</kendo-grid-column>
</kendo-grid>
</div>
</kendo-grid>
</kendo-pdf-export>
