<app-menu></app-menu>
<div [formGroup]="VentaForm" >
<mat-grid-list cols="5" rowHeight="85px">
    <mat-grid-tile [colspan]="2"
    [rowspan]="1">

    </mat-grid-tile>
  <mat-grid-tile [colspan]="3"
  [rowspan]="1">
    <div class="card">
      <mat-form-field class="example-full-width">
        <input formControlName="Id" type="number" (blur)="verificaId()" matInput placeholder="Número de nota">
      </mat-form-field>
    </div>
    <div>
        <mat-form-field>
          <input matInput formControlName="Fecha" [matDatepicker]="picker" placeholder="Fecha">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2"
  [rowspan]="1"></mat-grid-tile>
  <mat-grid-tile [colspan]="3"
  [rowspan]="1">
  <div>
      <mat-form-field class="example-full-width">
        <input formControlName="TotArt" type="number" (blur)="verificaId()" matInput placeholder="Total de artículos">
       <!--  <span matSuffix>piezas</span> -->
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
          <span matPrefix>$&nbsp;</span>
        <input formControlName="TotVta" type="number" (blur)="verificaId()" matInput placeholder="Total a pagar">
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3"
  [rowspan]="1">
    <div [formGroup]="ProductoForm">
    <mat-form-field class="example-full-width">
      <input type="number" #id (blur)="verificaId(id.value)"  formControlName="Id" matInput placeholder="Código">
      <mat-hint *ngIf="!existeId">El código ingresado no existe.</mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="number" formControlName="Cantidad" (ngModelChange)="cambioProductos($event)" matInput placeholder="Cantidad">
      <mat-hint *ngIf="existen">{{texto}}</mat-hint>
    </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1"
  [rowspan]="1">
  <div>
      <button mat-raised-button [disabled]="flagboton" (click)="addElement()" color="primary">Agregar</button>
    </div>
</mat-grid-tile>
<mat-grid-tile [colspan]="1"
  [rowspan]="1">
  <div>
      <button mat-raised-button [disabled]="noVenta" (click)="openDialog()" color="primary">Cobrar</button>
    </div>
</mat-grid-tile>
</mat-grid-list>


</div>
<div *ngIf="!dataSource.length">
<mat-table #table [dataSource]="dataSource">

  <!-- Position Column -->
  <ng-container matColumnDef="Id">
    <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Id}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Descripcion">
    <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Descripcion}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Cantidad">
    <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
    <mat-cell *matCellDef="let element" ><mat-form-field floatLabel="never">
      <input matInput placeholder="Name" [value]="element.Cantidad" (ngModelChange)="cambioCantidad($event)" [(ngModel)]="element.Cantidad">
    </mat-form-field></mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="PrecioVenta">
    <mat-header-cell *matHeaderCellDef> Precio Unitario </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.PrecioVenta}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Total">
    <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Cantidad * element.PrecioVenta}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Acciones">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
          <button mat-button (click)="onDelete(element.Id)" >
            <mat-icon> delete</mat-icon>Borrar
          </button>
      </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
</div>


